In [4]:
a = "python"
type(a)

str

In [5]:
b = [11,2,3,'PW','@',2]
type(b)

list

In [6]:
c= 5.69
type(c)

float

In [8]:
d = (1,2,3,'Python')
type(d)

tuple

In [10]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [15]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

(i) / (division)

The division operator in Python is used to divide the first operand by the second operand. The result is a floating-point number.

In [16]:
10 / 2

5.0

(ii) % (modulus)

The modulus operator in Python is used to return the remainder of a division operation. The result is an integer.

In [17]:
10 % 2

0

(iii) // (floor division)

The floor division operator in Python is used to divide the first operand by the second operand, and then round down the result to the nearest integer.

In [18]:
10 // 3

3

(iv) ** (exponentiation)

The exponentiation operator in Python is used to raise the first operand to the power of the second operand.

In [19]:
2 ** 3

8

In [20]:
my_list = [1, "Hello", True, 3.14, "world", "!", (1, 2, 3), {"a": 1, "b": 2}, "The end"]

In [21]:
for element in my_list:
    print(element, type(element))

1 <class 'int'>
Hello <class 'str'>
True <class 'bool'>
3.14 <class 'float'>
world <class 'str'>
! <class 'str'>
(1, 2, 3) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>
The end <class 'str'>

In [22]:
# Get the input from the user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# Initialize the counter
count = 0

# Start the while loop
while a % b == 0:
    # Increment the counter
    count += 1
    # Divide the first number by the second number
    a //= b

# Check if the counter is greater than 0
if count > 0:
    # Print the result
    print(f"The number {a} is divisible by {b} {count} times.")
else:
    # Print the result
    print(f"The number {a} is not divisible by {b}.")

Enter the first number:  10
Enter the second number:  5

The number 2 is divisible by 5 1 times.

In [23]:
# Create a list of 25 int type data
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

# Use a for loop to iterate over the list
for element in my_list:
    # Check if the element is divisible by 3
    if element % 3 == 0:
        # Print "The element is divisible by 3"
        print(f"The element {element} is divisible by 3")
    else:
        # Print "The element is not divisible by 3"
        print(f"The element {element} is not divisible by 3")

The element 1 is not divisible by 3
The element 2 is not divisible by 3
The element 3 is divisible by 3
The element 4 is not divisible by 3
The element 5 is not divisible by 3
The element 6 is divisible by 3
The element 7 is not divisible by 3
The element 8 is not divisible by 3
The element 9 is divisible by 3
The element 10 is not divisible by 3
The element 11 is not divisible by 3
The element 12 is divisible by 3
The element 13 is not divisible by 3
The element 14 is not divisible by 3
The element 15 is divisible by 3
The element 16 is not divisible by 3
The element 17 is not divisible by 3
The element 18 is divisible by 3
The element 19 is not divisible by 3
The element 20 is not divisible by 3
The element 21 is divisible by 3
The element 22 is not divisible by 3
The element 23 is not divisible by 3
The element 24 is divisible by 3
The element 25 is not divisible by 3

In Python, data types can be classified as mutable or immutable. Mutable data types are those that can be changed after they are created, while immutable data types cannot be changed after they are created.

examples of mutable data types :

Lists
Dictionaries
Sets
User-defined classes

examples of immutable data types:

Integers
Floats
Booleans
Strings
Tuples

In [26]:
my_list = [1, 2, 3]

In [25]:
my_tuple = (1, 2, 3)

In [27]:
my_list[0] = 10

In [28]:
my_list

[10, 2, 3]

In [29]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment